<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | NEAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  <!-- DataTables CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  
  {% block head %}
  {% endblock %}

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if current_user.permissao == 0 %}
      {% else %}
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="example">
      <ul class="nav navbar-nav navbar-left">
      </ul>
      {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.role == "admin" %}
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>



  <div class="wrapper">
    {% block body %}
    {% endblock %}
  </div>
  

  <div class="push"></div>
  
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <ul class="list-inline">
                  </ul>                    
                    <p class="copyright text-muted small">Copyright © 2019. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
  </footer>
</body>

{% block script %}
{% endblock %}